<main>
    <section>
            <h1>Bienvenida Yeraldine</h1>
            <b>¡Factoría F5 te saluda!</b>
            <div class="searcher">
                <p>¿Qué quieres buscar?</p>
                <input type="text" placeholder="Busca aquí tu recurso"/>
                <!-- <img class="lens"src="../../../assets/search-icon-png-9985.png"> -->
            </div>
    </section>
    <div  class="boxes">
        @for (bootcamp of bootcamps; track $index) {
            <div class="bootcampCard" routerLink="/principal/programs/">
                <h4>{{bootcamp.type}}</h4> 
                <h2>{{bootcamp.title}}</h2>
            </div>
        }


        <!-- <div class="box1" routerLink="/principal/programs/">
            <h4>BOOTCAMP</h4> 
            <h2>Full Stack</h2>
        </div>
        <div class="box2">
            <h4>BOOTCAMP</h4> 
            <h2>Ciber Seguridad</h2>
        </div>
        <div class="box3">
            <h4>BOOTCAMP</h4> 
            <h2>Inteligencia Artificial</h2>
        </div>
        <div class="box4">
            <h4>BOOTCAMP</h4> 
            <h2>Cloud Services</h2>
        </div> -->
    </div>
</main>
