<app-header></app-header>
<main class="mainPrincipal">
    <section class="mainSection">
            <span class="userMessage">Bienvenida Yeraldine</span>
            <span class="welcomeMessage">¡Factoria F5 te saluda!</span>
            <p class="searchMessage">¿Qué quieres buscar?</p>
            <div class="searcher">
                <input type="text" />
                <img class="lens"src="../../../assets/search-icon-png-9985.png">
            </div>
    </section>
    <ul  class="bootcamps">
        <li>Bootcamp de Full Stack</li>
        <li>Bootcamp de Ciberseguridad</li>
        <li>Bootcamp de Inteligencia Artificial</li>
        <li>Bootcamp de Cloud Services</li>
    </ul>
</main>