:host{
    height: 100%;
    margin: 0 auto;
    display: block;
}

.app-principal{
    height: 100vh;
}

main{
    height: calc(100vh - 120px);
}

h1, h2, h3, h4, h5, h6, b, p {
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

section h1, b{
    font-size: 39px;
    font-weight: 600;
}
 
section h1{
    color: white;    
}


section b{
    color: #ff5722;
}

.boxes{
    height: 45%;
    max-width: 90%; 
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}

.box1, .box2, .box3, .box4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem ;
    background-color: rgba(53, 53, 53, 0.2);
    border-radius: 10px;
    width:14rem;
    height: 5rem;
}
.box1 h4,h2, .box2 h4,h2, .box3 h4,h2 .box4 h4,h2{
    width: 30%;    
}

.box1 h2, .box2 h2, .box3 h2, .box4 h2{
    font-size: 24px ;
    font-weight: 200;

}
.box1 h4, .box2 h4, .box3 h4, .box4 h4{
    font-size: 15px ;
    font-weight: 700;
}

.searcher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.searcher p{
    color:white;
    font-size: 15px;
    font-weight: 200;
    margin-top: 2rem;
    text-align: center;
 
}
.searcher input{
    color: white;
    border: 3.5px solid #ff5722;
    border-radius: 50px;
    padding-inline: 1rem;
    width: 25vw;
    height: 7.5vh;
    background-color: transparent;
    font-size: 24px;
    font-weight: 200;
    outline: none;
    text-align: center;
    margin-top: 0.5em;

}

.searcher input::placeholder {
    text-align: center; 
    color: rgba(255, 255, 255, 0.404); 
    opacity: 1;
    font-size: 24px;
}

.box1:hover,.box2:hover,.box3:hover,.box4:hover {
    
    color: rgba(255, 86, 34, 0.966);

}