<app-header></app-header>
<main>
        <section class="titleBox">
            <h4>Full Stack</h4>
            <h2>BCN Singulars P2</h2>
        </section>	
        <section class="subTitles">
            <h3 >Roadmap</h3>
            <h3>Recursos</h3>	
        </section>
        <hr/>
        <section class="boxesSection">
            <div class="boxes">
                <div class="box1"><h3>Frontend con Angular</h3></div>
                <div class="box2"><h3>Backend con C# y .net</h3></div>
            </div>	
        </section>
        <button class="addNew">Añadir nuevo +</button>
    </main>
