:host{
    height: 110%;
    margin: 0 auto;
    display: block;
}


.app-programs{
    height: 100vh;

}

h2{
    font-size:39px;
    font-weight: 200;
    margin:none;
    }
h4{
    font-size: 24px;
    }


.titleBox{
    display: flex;
    flex-direction: column;
    color:white;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 2rem;    
}

hr{
    border: none;
    height: 4px;
    background-color:#ff5722;

}

