<app-header-searcher></app-header-searcher>
<main>
    <div class="titleBox">
        @for (resource of resources; track $index) {
                <h4>BCN Singulars</h4>
                <h2>{{resource.title}}</h2>
        }
    </div>
    <hr>
    <section class="resources">
@for(data of data;track $index){
    <a>
        <h1>{{data.title}}</h1>
        <h4>{{data.tags}}</h4>
    </a>
}
    </section>
    <div class="buttons">
        <div class="roadmapButton">
            <app-button-roadmap></app-button-roadmap>
            <app-modal-roadmap></app-modal-roadmap>
        </div>
        <app-button-resource></app-button-resource>
    </div>
</main>


