<app-login></app-login>
<main>
    <section>
        <img src="assets/registerPic.jpg" alt="Image Register">
    </section>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
        <h2>Register</h2>
        <label for="name">
            <input type="text" formControlName="userName" placeholder="User Name" autocomplete="username">
        </label>

        <label for="email">
            <input type="email" formControlName="email" placeholder="Email" autocomplete="email">
        </label>

        <label for="password">
            <input type="password" formControlName="password" placeholder="Password" autocomplete="current-password">
        </label>
        <button type="submit">Sign in</button>
    </form>
</main>

