.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #4211ba;
    position: relative;
}

h2 {
    color: #FF5722;
    font-size: 35px;
    margin-bottom: 5px;
    text-align: center;
  }

.registerForm {
    width: 60%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-color: #D7D7D7;
}

input {
    width: 100%; 
      padding: 15px;
      margin: 10px 0; 
      border: 1px solid #ccc;
      box-sizing: border-box;
}
  
button {
    width: 50%;
    padding: 15px;
    border: none;
    font-size: 15px;
    background-color: #FF5722;
    color: #fff;
    cursor: pointer;
    margin: 20px auto; 
    display: block;
  }
  
button:hover {
    background-color: #0056b3;
}

.imageContainer {
    position: absolute;
}
