    <header class="homeHeader">
        <a routerLink="/home" class="logo">
        <img class="logo"src="../../../assets/factoria-logo.png">
    </a>
        <div class="logosContainer">
            <div class="inputContainer">
                <input type="text" class="searcherBar" placeholder="Busca aquí tu recurso"/>
                <button>
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>  
            <img class="userIcon"src="../../../assets/icon _profile circled_.png">
        </div>   
    </header>
    