.bootcampCard {
    padding: 1em 2em;
    margin: .25em;
    background-color: rgba(53, 53, 53, 0.2);
    border-radius: 1em;
    font-size: 2em;
    flex-grow: 1; 
    flex-basis: 0; 
}

.bootcampCard h2{
    font-weight: 500;
}
.bootcampCard h4{
    font-weight: 200;
}
.bootcampCard:hover {
    color: rgba(255, 86, 34, 0.966);
}

