.bootcampCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.2rem ;
    background-color: rgba(53, 53, 53, 0.2);
    border-radius: 10px;
    width:12rem;
    height: 7rem;
}
.bootcampCard h4,h2{
    width: 30%;
}
.bootcampCard h2{
    font-size: 24px ;
    font-weight: 200;
}
.bootcampCard h4{
    font-size: 15px ;
    font-weight: 700;
}
.bootcampCard:hover {
    color: rgba(255, 86, 34, 0.966);
}