.boxes{
    max-width: 98%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color:white;
}
.bootcampCard {
    display: flex;
    flex-direction: column;
    padding: 1em 2em ;
    margin-inline: .25em;
    background-color: rgba(53, 53, 53, 0.2);
    border-radius: 10px;
    width: 14rem;
    font-size: 1.5em;
}
.bootcampCard h2{
    font-weight: 800;
    line-height: 1em;
}
.bootcampCard h4{
    font-weight: 200;
}
.bootcampCard:hover {
    color: rgba(255, 86, 34, 0.966);
}

