<!-- <section>
    @for (roadmap of roadmaps; track $index) {
        <div class="box" routerLink="">

        </div>
    }
</section> -->
<!-- <form [formGroup]="roadmapForm" (ngSubmit)="onSubmit()">
    <div class="modal fade" id="roadmapModal" tabindex="-1" aria-labelledby="roadmapModalLabel" aria-hidden="true" #myModal>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="roadmapModalLabel">Añadir Roadmap</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="drop-area" 
                 (dragover)="onDragOver($event)" 
                 (dragleave)="onDragLeave($event)" 
                 (drop)="onDrop($event)"
                 [class.dragover]="isDragging">
              <label for="fileUpload">Examinar</label>
              <input id="fileUpload" type="file" (change)="onFileChange($event)" class="form-control" />
              <p>ó arrastra hasta aquí</p>
            </div>
            <div *ngIf="filePreviews.length > 0">
              <h3>Archivo cargado:</h3>
              <div *ngFor="let preview of filePreviews">
                <img [src]="preview" alt="Vista previa del archivo" *ngIf="isImage(preview)" />
                <p *ngIf="!isImage(preview)">{{ preview }}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" [disabled]="roadmapForm.invalid">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </form> -->
  