:host{
    margin:0 auto;
    display:flex;
    justify-content: center;
    // align-items: space-between;
    // margin:0 auto;
}

header{
    height: 160px;
    width: calc(100% - 6em);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:200px;
    height:100px;

}

.userIcon{
    width: 3.5em;
    height: 3.5em;
}

.end-header {
    display: flex;
}

.end-header app-searcher {
    margin-inline-end: 1em;
}


// :host{
//     display:flex;
//     justify-content: center;
// }

// header{
//     height: 120px;
//     width: calc(100% - 6em);
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

// img{
//     width:200px;
//     height:100px;
// }
