:host{
    height: 100%;
    margin: 0 auto;
    display: block;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

section h1, b{
    font-size: 35px;
    font-weight: 600;
}

section h1{
    color: white;
}

section b{
    color: #FF5722;
}

p{
    color: white;
}
