:host{
    height: 100%;
    margin: 0 auto;
    display: block;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    max-width: calc(100% - 6em);
    width: 100%;
    margin: auto;
    margin-top: 6em;
    text-align: center;
}

section h1, b{
    font-size: 3rem;
    font-weight: 600;
}

section h1{
    color: white;
}

section b{
    color: #FF5722;
}

p{
    font-size: 2rem;
    font-weight: 200;
    color: white;
    margin-bottom: 0.5em;
}
