.modal-content{
    height: 30vh;
}

.modalHeader{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    width: 95%;
    margin: 1rem;
}

.modalBody{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moduleTitle{
    border-radius: 25px;
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

// .submitInput{
//     background-color: #4211BA;
//     padding: 1rem;
//     margin: 0.5rem;
//     border-radius: 25px;
//     border: none;
//     color: #ffffff;
//     width: 40%;
//     font-size: 1.5rem;

// font-size: 1.2rem;
// border: 1px solid rgba($color: #000000, $alpha: 0.5);

// }


    


.modalFooter{
    display: flex;
    justify-content: center;
    padding: 2rem;
}