.modalHeader{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.moduleTitle{
    height: 3rem;
}

.modalBody{
    display: flex;
    justify-content: center;
}

.modalFooter{
    display: flex;
    justify-content: center;
    padding: 1rem;
   
}