 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modalHeader">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir titulo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modalBody">
            <input type="text" class="moduleTitle" placeholder="Titulo">
        </div>
        <div class="modalFooter">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div> 


      