.drop-area {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px dashed #ccc;
    text-align: center;
    position: relative;
  }
  .drop-area.dragover {
    border-color: #000;
  }
  label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  input[type="file"] {
    display: none;
  }
  

:host{
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    margin: auto;
    height: calc(90% - 120px);
}


main{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main div label {
    background-color: #4211BA;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
}

main div input {
    display: none;
}

main p{
    color: rgba(51, 51, 51, 0.4);
}



