<header>
    <img src="assets/factoria-logo.png" alt="Logo">
    <form [formGroup]="loginForm" (ngSubmit)="Submit()" class="loginForm">
      <label for="UserName">
        <input type="UserName" formControlName="UserName" placeholder="Nombre de usuario" autocomplete="UserName">
      </label>    
      <label for="Password">
        <input type="Password" formControlName="Password" placeholder="Contraseña" autocomplete="current-password">
      </label>
      <button type="submit">Entrar</button>
      <label for="remember" class="remember">
        <input type="checkbox" formControlName="remember">
        Recordar la sesión
      </label>
    </form>
  </header>
  