:host{
    display: block;
    max-width: 100%;
    margin: auto;
}

form{
    display: grid;
    background-color: #ffffff;
}

label{
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 75%;
    width: 100%;
    margin: 1.7rem auto;
    
}

fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: space-between;
    max-width: 100%;
    width: 100%;
    gap: 1rem;
    margin: 0 auto;
    border: none;
    padding: 0;
}

input{
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 0.5px solid rgba($color: #333333, $alpha: 0.5);
    text-align: center;
}


.tags{
    padding: 10px;
}

select{
    width: 100%;
    border: 1px solid rgba($color: #333333, $alpha: 0.5);
    border-radius: 25px;
    background-color: white;
    font-size: 1.3rem;
    text-align: center;
}

.resources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

fieldset label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4211BA;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
}


.submit{
    background-color: #4211BA;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    max-width: 40%;
    width: 100%;
    margin: auto;
    font-size: 0.9rem;
}

.uploadFile{
    display: none;
}

.urlSubmit{
    height: 50%;
}

